@{ ViewBag.scripts = new List<string>();
 ViewBag.bundles = new List<string>();
 ViewBag.directives = new List<string>();
 ViewBag.modules = new List<string>();
}
<!-- MAIN CONTENT -->
<div id="content" ng-app="App" ng-controller="FuturesConfirmationController as ctl">
    <div ng-controller="viewController as vm">
        <section id="widget-grid" class="">
            <div class="row">
                                                                                 @Html.RenderWidget(
                    "wFutures",
                    "Futures",
                    new List<IHtmlString>() {
                        Html.RenderForm("informForm", new List<IHtmlString>() {
                            Html.RenderRow(new List<IHtmlString>() {
                                Html.RenderDatetimePicker("TRANSACTIONDATE", "Trade Date", gridPart: 2, required: true, ng_model: "ctl.filter.TRANSACTIONDATE", allowTime: false, ng_change: "ctl.update()" ),
                                Html.RenderSelect("STATUS", SelectType.Single, label: "Status", gridPart: 2, required: true, options: new Dictionary<string,string>() { {"2", "Processed"}, {"3", "Sent to MICS"} } , ng_model: "ctl.filter.STATUS", convertToNumber: true, ng_change: "ctl.update()" ),
                                Html.RenderButton(ButtonType.Button, ButtonColor.Primary, gridPart: 3, size: ButtonSize.md, label: "Search", ng_click: "ctl.update()" )
                            }),
                            Html.RenderRow(new List<IHtmlString>() {
                                Html.RenderFieldset(new List<IHtmlString>() {
                                    Html.RenderDataTable("dtFutures",
                                        new List<DataGridOptions>() {
                                            new DataGridOptions() { Id = "BVMFID", ColumnName = "Internal ID", Sortable = true },
                                            new DataGridOptions() { Id = "TRANSACTIONDATE", ColumnName = "Transaction Date", Sortable = true },
                                            new DataGridOptions() { Id = "EXPIRATIONDATE", ColumnName = "Expiry Date", Sortable = true },
                                            new DataGridOptions() { Id = "VALUEDATESETTLEMENT", ColumnName = "Settlement", Sortable = true },
                                            new DataGridOptions() { Id = "OPTIONTYPE", ColumnName = "Option Type", Sortable = true },
                                            new DataGridOptions() { Id = "EXERCISEPRICE", ColumnName = "Excercise Price", Sortable = true },
                                            new DataGridOptions() { Id = "QUANTITY", ColumnName = "Quantity", Sortable = true },
                                            new DataGridOptions() { Id = "MARKET", ColumnName = "Market", Sortable = true },
                                            new DataGridOptions() { Id = "SYMBOL_FULL", ColumnName = "Symbol", Sortable = true },
                                            //new DataGridOptions() { Id = "SYMBOL", ColumnName = "Symbol", Sortable = true },
                                            //new DataGridOptions() { Id = "PRODUCTGROUPCODE", ColumnName = "PRODUCTGROUPCODE", Sortable = true },
                                            new DataGridOptions() { Id = "BUYSELLCODE", ColumnName = "Side", Sortable = true },
                                            new DataGridOptions() { Id = "EXTERNALNUMBERMEMBER", ColumnName = "Trade Number", Sortable = true },
                                            //new DataGridOptions() { Id = "CODEPRODUCTGROUPCODE", ColumnName = "CODEPRODUCTGROUPCODE", Sortable = true },
                                            //new DataGridOptions() { Id = "TOTALPREMIUM", ColumnName = "TOTALPREMIUM", Sortable = true },
                                            new DataGridOptions() { Id = "ADJUSTMENTVALUE", ColumnName = "Adjustment Value", Sortable = true, Type = ColumnType.Decimal2 },
                                            //new DataGridOptions() { Id = "ADJUSTMENTVALUEDAY", ColumnName = "ADJUSTMENTVALUEDAY", Sortable = true },
                                            //new DataGridOptions() { Id = "CLEARINGFEET", ColumnName = "Clearing Fee", Sortable = true },
                                            new DataGridOptions() { Id = "CLEARINGFEEDAYT", ColumnName = "Clearing Fee", Sortable = true, Type = ColumnType.Decimal2 },
                                            new DataGridOptions() { Id = "EXCHANGEBROKERFEE", ColumnName = "Broker Fee", Sortable = true, Type = ColumnType.Decimal2 },
                                            new DataGridOptions() { Id = "EXCHANGEBROKERFEEDT", ColumnName = "Broker Fee DT", Sortable = true, Type = ColumnType.Decimal2 },
                                            new DataGridOptions() { Id = "TRANSACTIONPRICEX", ColumnName = "Price", Sortable = true, Type = ColumnType.Decimal2 },
                                            //new DataGridOptions() { Id = "BVMFTAX", ColumnName = "BVMFTAX", Sortable = true },
                                            new DataGridOptions() { Id = "ACCOUNTNUMBER", ColumnName = "Client", Sortable = true },
                                            new DataGridOptions() { Id = "EXTERNALMEMBER", ColumnName = "Client Name", Sortable = true, NoWrap = true },
                                            //new DataGridOptions() { Id = "ORDERNUMBER", ColumnName = "ORDERNUMBER", Sortable = true },
                                            //new DataGridOptions() { Id = "PROCESSINGTIME", ColumnName = "PROCESSINGTIME", Sortable = true },
                                            //new DataGridOptions() { Id = "CLIENTNUMBER", ColumnName = "CLIENTNUMBER", Sortable = true },
                                            //new DataGridOptions() { Id = "QUOTEBMFSERIES", ColumnName = "QUOTEBMFSERIES", Sortable = true },
                                            //new DataGridOptions() { Id = "BMFMARKETNUMBER", ColumnName = "BMFMARKETNUMBER", Sortable = true },
                                            //new DataGridOptions() { Id = "EXECTRADERID", ColumnName = "EXECTRADERID", Sortable = true },
                                            new DataGridOptions() { Id = "TRADERINITIALS", ColumnName = "Trader Initials", Sortable = true },
                                            //new DataGridOptions() { Id = "LEDGERCODE", ColumnName = "LEDGERCODE", Sortable = true },
                                            //new DataGridOptions() { Id = "EXCHANGEMEMBERCODE", ColumnName = "EXCHANGEMEMBERCODE", Sortable = true },
                                            //new DataGridOptions() { Id = "EXCHANGEMEMBERNAME", ColumnName = "EXCHANGEMEMBERNAME", Sortable = true },
                                            //new DataGridOptions() { Id = "EXTERNALMEMBERCODE", ColumnName = "EXTERNALMEMBERCODE", Sortable = true },
                                            //new DataGridOptions() { Id = "BROKERACCOUNTCODE", ColumnName = "BROKERACCOUNTCODE", Sortable = true },
                                            //new DataGridOptions() { Id = "BROKERACCOUNT", ColumnName = "BROKERACCOUNT", Sortable = true },
                                            new DataGridOptions() { Id = "BROKERINITIALSID", ColumnName = "Initials ID", Sortable = true },
                                            //new DataGridOptions() { Id = "TRADE_DATE", ColumnName = "TRADE_DATE", Sortable = true },
                                            new DataGridOptions() { Id = "PROCESSED_FLAG", ColumnName = "PROCESSED_FLAG", Sortable = true, Hidden = true },
                                            new DataGridOptions() { Id = "ROLLOVERTAX", ColumnName = "Rollover Tax", Sortable = true, Type = ColumnType.Decimal2 },
                                            //new DataGridOptions() { Id = "COMMOD_ORI", ColumnName = "COMMOD_ORI", Sortable = true },
                                            new DataGridOptions() { Id = "PPPVALUE", ColumnName = "PPP Value", Sortable = true, Type = ColumnType.Decimal2 },
                                            new DataGridOptions() { Id = "TOTALEXCHANGEVALUE", ColumnName = "Total Exchange Value", Sortable = true, Type = ColumnType.Decimal2 },
                                            //new DataGridOptions() { Id = "NRTRADE", ColumnName = "NRTRADE", Sortable = true },
                                            new DataGridOptions() { Id = "DTUPDATE", ColumnName = "Updated Date", Sortable = true, Type = ColumnType.DateTime, NoWrap = true },
                                            //new DataGridOptions() { Id = "SYMBOL_FULL", ColumnName = "SYMBOL_FULL", Sortable = true },
                                            new DataGridOptions() { Id = "JMSMESSAGEID", ColumnName = "JMS MESSAGEID", Sortable = true, NoWrap = true },
                                            new DataGridOptions() { Id = "TRADE_FLAG_AFTER", ColumnName = "Batch", Sortable = true }
                                        },
                                        legend: new List<DataGridLegend>() {
                                            new DataGridLegend() { Css = "yellow-backgroud", Description = "Processed" },
                                            new DataGridLegend() { Css = "green-backgroud", Description = "Sent to MICS" },
                                        },
                                        createdRow: @"if (data.PROCESSED_FLAG == 3) {
                                                        $(row).addClass('green-backgroud');
                                                      }
                                                      else if (data.PROCESSED_FLAG == 2) {
                                                        $(row).addClass('yellow-backgroud');
                                                      }",
                                        showPaging: true,
                                        itemsPerPage: 10,
                                        autoWidth: true,
                                        ajax: "GetFuturesConfirmation",
                                        postData: "TRANSACTIONDATE: moment().format('DD/MM/YYYY'), STATUS: ''",
                                        serverSide: true,
                                        scrollX: true

                                    )
                              })
                          })
                        })
                    },
                    new List<IHtmlString>() {
                        Html.RenderButton(ButtonType.Button, ButtonColor.Primary, size: ButtonSize.xs, icon: "refresh", label: "Refresh", ng_click: "ctl.update()")
                    }
                )
</div>
        </section>
    </div>
</div>

@section pagespecific {
    @foreach (string bundle in ViewBag.bundles)
    {
        @Scripts.Render(bundle);
    }
    @Html.RenderAngularApp()
    @Html.RenderAngularController("view")
    <script type="text/javascript" src="~/AngularControllers/MarketData/FuturesConfirmationController.js"></script>
    
}
