@{ ViewBag.scripts = new List<string>();
 ViewBag.bundles = new List<string>();
 ViewBag.directives = new List<string>();
 ViewBag.modules = new List<string>();
}
<!-- MAIN CONTENT -->
<div id="content" ng-app="App" ng-controller="ImbarqCustodyBalanceController as ctl">
    <div ng-controller="viewController as vm">
        <section id="widget-grid" class="">
            <div class="row">
                @Html.RenderWidget(
                    "wEquities",
                    "Custody Balance",
                    new List<IHtmlString>() {
                        Html.RenderForm("informForm", new List<IHtmlString>() {
                            Html.RenderRow(new List<IHtmlString>() {
                                Html.RenderSelect("IMBARQ_VALID", SelectType.Single, label: "Status", gridPart: 2, required: true, options: new Dictionary<string,string>() { {"1", "Processed"}, {"2", "Not Processed"} } , ng_model: "ctl.filter.IMBARQ_VALID", convertToNumber: true, ng_change: "ctl.update()" ),
                                Html.RenderButton(ButtonType.Button, ButtonColor.Primary, gridPart: 1, size: ButtonSize.md, label: "Search", ng_click: "ctl.update()" ),
                                Html.RenderButton(ButtonType.Button, ButtonColor.Default, gridPart: 1, size: ButtonSize.md, label: "Export Excel", ng_click: "ctl.exportExcel()" ),
                                Html.RenderHTML("<iframe id='my_iframe' style='display:none;'></iframe>")
                            }),
                            Html.RenderRow(new List<IHtmlString>() {
                                Html.RenderFieldset(new List<IHtmlString>() {
                                    Html.RenderDataTable("dtEquities",
                                        new List<DataGridOptions>() {
                                            new DataGridOptions() { Id = "IMBARQ_ID", ColumnName = "ID", Sortable = true},
                                            //new DataGridOptions() { Id = "IMBARQ_REG", ColumnName = "REG", Sortable = true},
                                            new DataGridOptions() { Id = "IMBARQ_REQUESTER", ColumnName = "Requester", Sortable = true},
                                            new DataGridOptions() { Id = "IMBARQ_CLIENT_REQUESTER", ColumnName = "Client", Sortable = true },
                                            //new DataGridOptions() { Id = "IMBARQ_REQUESTED", ColumnName = "requested", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_CLIENT_REQUESTED", ColumnName = "Give Up Link", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_SUB_ACCOUNT", ColumnName = "Sub Account", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_SUB_DESCRIPTION", ColumnName = "Sub Account desc", Sortable = true, NoWrap = true },
                                            new DataGridOptions() { Id = "IMBARQ_ISIN_CODE", ColumnName = "Isin", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_DISTRIBUTION", ColumnName = "Distribution", Sortable = true },
                                            //new DataGridOptions() { Id = "IMBARQ_COMPANY_NAME", ColumnName = "COMPANY_NAME", Sortable = true },
                                            //new DataGridOptions() { Id = "IMBARQ_SPECIFICATION", ColumnName = "SPECIFICATION", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_TICKER", ColumnName = "Symbol", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_ASSET_QUANTITY", ColumnName = "Asset Quantity", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_TOT_ASSET_QT_BLOCKED", ColumnName = "Asset Qty Blocked", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_BALANCE_INDIC", ColumnName = "Balance Indic", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_ASSET_TYPE", ColumnName = "Asset Type", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_RESERVE", ColumnName = "Reserve", Sortable = true },
                                            new DataGridOptions() { Id = "IMBARQ_LINE", ColumnName = "Line", Sortable = true, cropSize = 30, NoWrap = true },
                                            new DataGridOptions() { Id = "IMBARQ_FILE_NAME", ColumnName = "File Name", Sortable = true, cropSize = 30, NoWrap = true },
                                            //new DataGridOptions() { Id = "IMBARQ_VALID", ColumnName = "VALID", Sortable = true },
                                        },
                                        
                                        showPaging: true,
                                        itemsPerPage: 10,
                                        autoWidth: true,
                                        ajax: "GetImbarqCustodyBalance",
                                        postData: "IMBARQ_VALID: 1",
                                        serverSide: true,
                                        scrollX: true,
                                        columnFilter: true,
                                        showExport: true
                                    )
                              })
                          })
                        })
                    },
                    new List<IHtmlString>() {
                        Html.RenderButton(ButtonType.Button, ButtonColor.Primary, size: ButtonSize.xs, icon: "refresh", label: "Refresh", ng_click: "ctl.update()")
                    }
                )

            </div>
        </section>
    </div>
</div>

@section pagespecific {
    @foreach (string bundle in ViewBag.bundles)
    {
        @Scripts.Render(bundle);
    }
    @Html.RenderAngularApp()
    @Html.RenderAngularController("view")
    <script type="text/javascript" src="~/AngularControllers/OpsControl/ImbarqCustodyBalanceController.js?version=@ViewBag.JSVersion"></script>

}
